@* create view page *@

@{
    ViewData["Title"] = "CRUDelicious";
}

@model List<Dish>

<div class="text-center">

    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
        <div>
            <p>NAVBAR HERE</p>
        </div>

        <div>
            <h3>Check out some recent dishes:</h3>
            <hr/>
        </div>

@* lower case dish can be any name* *@
@foreach (Dish dish in Model)
{
    <div>
        <ul>
            <li>
                <a asp-controller="Dish" asp-action="ViewDish" asp-route-dishId="@dish.DishId" class="text-dark p-1">@dish.Name</a> by @dish.Chef</li>
        </ul>
    </div>
}


</div>